* {
     margin: 0; 
     padding: 0; 
    box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* background: #000; */
}
#heading{
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-style: italic;
  text-shadow: 0 0 10px cyan,;
  text-shadow: 0 0 10px cyan,;
  text-shadow: 0 0 10px cyan,;
  text-shadow: 0 0 10px cyan;
}

img{
    height:  100px;
    width: 100px;
    border-radius: 50%;
}
.personal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  flex-wrap: wrap;
}

.main{
   display: grid;
   justify-content: center;
    text-align: center;
    width: 900px;
    max-width: auto;
    height: auto;
    color: white;
    border: 5px solid rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0, 0.8);
    overflow-x: hidden;
    overflow-y: hidden;
    
}
#head{
    
    font-family: Arial, Helvetica, 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color:#008577;
    margin: 15px;
    padding: 15px;
   border-radius: 5px; 
   color:whitesmoke;
   flex: 1 0 5rem;
}
li{
    list-style: none;
    font-size: 20px;
    padding: 5px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0,0,0, 0.8);
    margin: 15px;
}
li:hover {
    background-color:#1313ece7;
    flex: 1 0 5rem;

}
p{
    font-size: 20px;
    
} 
/* CSS */
.btn {
  justify-content: center;
    background-color:  #1313ece7;
    color: #fff;
    padding: 15px 40px  ;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 200px;
    box-shadow: 0 8px 15px rgba(0,0,0, 0.8);
  }
  .btn:hover{
    background-color: rgb(21, 128, 163);
  }
  
  .btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  

/* For screens with a maximum width of 768px (tablets and smaller) */
@media only screen and (max-width: 768px) {
    .main {
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      transform: none;
      margin: 20px;
    }
    .img {
      flex-direction: column;
      align-items: center;
    }
    li {
      margin-left: 0;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
    }
  }
  
  /* For screens with a maximum width of 480px (mobile devices) */
  @media only screen and (max-width: 480px) {
    .main {
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      transform: none;
      margin: 10px;
      overflow: hidden;
    }
    .img {
      flex-direction: column;
      align-items: center;

    }
    li {
      margin-left: 0;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
    }
    p {
      font-size: 16px;
    }
  }